<div class="myFormBody">
    <div class="myformContainer">
        <form [formGroup]="getDetailsForm" (ngSubmit)="submitForm()">
            <!-- Name: -->
            <div style="margin-top: 0px;">
                <label>Name &nbsp;</label>
                <input type="text" formControlName="name" style="margin-left: 10px;">
            </div>
            <!-- Email ID: -->
            <div style="margin-top: 3px;">
                <label>Email ID</label>
                <input type="text" formControlName="email" style="margin-left: 10px;">
            </div>

            <button type="button" (click)="addPassenger()"
                style="margin-left: 60%; padding: 5px; background-color: #0061A8; color: white; border-radius: 5px 5px; border: 1px solid black;">Add
                Passenger
            </button>

            <div formArrayName="passengersList">
                <div class="row passenger" *ngFor="let pasngr of getPassenegrArray().controls; let i=index;">
                    <div [formGroupName]="i">
                        <label> Passenger Name</label>
                        <input class="move" type="text" formControlName="pName">

                        <label class="move">Gender</label>
                        <select class="move" formControlName="pGender">
                            <option value="Male"> Male </option>
                            <option value="Female">Female</option>
                        </select>

                        <label class="move">Age</label>
                        <input type="number" max="100" min="2" formControlName="age">

                        <label class="move">Select Seat For Onward Journey</label>
                        <select class="move" formControlName="onwardSeat">
                            <option value="3B">3B</option>
                            <option value="4B">4B</option>
                            <option value="5B">5B</option>
                        </select>

                        <span *ngIf="!!returnDate">
                            <label class="move">Select Seat For Return Journey</label>
                            <select class="move" formControlName="returnSeat">
                                <option value="7B">7B</option>
                                <option value="8B">8B</option>
                                <option value="8B">8B</option>
                            </select>
                        </span>

                        <label class="move">Opt Meal</label>
                        <select class="move" formControlName="optMeal">
                            <option value="Veg">Veg</option>
                            <option value="Non Veg">Non Veg</option>
                        </select>

                        <button type="button" class="move" (click)="removePassenger(i)">Remove Passenger</button>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-info subColor" (click)="calculatePrice()">Calculate Price</button>
            <br>
            <div *ngIf="showCalculate">

                <p style="margin-top: 20px; margin-left: 2%; color: black; font-weight: bolder;font-size: larger;">
                    Total Price:
                    &nbsp; {{this.getDetailsForm.value.billingAmmount}} INR
                </p>
                <div style="margin-top: 10px;">
                    <label>Discount</label>
                    <input type="text" formControlName="discount" #discount>
                    <button type="button" class="btn btn-info subColor" style="margin-left:30px px; margin-bottom: 2px;">Apply</button>
                </div>
            </div>
            <button type="submit" class="btn btn-info subColor">Check Out</button>
        </form>
    </div>
</div>