<div class="myFormBody">
    <div class="myformContainer">
        <h3>Add New AirLine</h3>

        <h2 *ngIf="isAdded" style="color: green; font-weight: bolder; font-size: larger; padding: 10px;" >New Flight Successfully Added</h2>

        <form [formGroup]="addAirlineForm" (ngSubmit)="submitAddFlight()">
            <!--AirLine Name-->
            <div>
                <label>AirLine Name</label>
                <input type="text" formControlName="airlineName" >
            </div>
            <!--Upload Logo-->
            <div>
                <label>UpLoad Airline Logo</label>
                <input type="file">
            </div>
            <!--Contact Number-->
            <div>
                <label>Contact Number</label>
                <input type="text" formControlName="airLineContactNumber">
            </div>
            <!--Contact Address-->
            <div>
                <label>Contact Address</label>
                <textarea formControlName="airLineContactAddress" ></textarea>
            </div>
            <button type="submit">Add-Flight</button>
        </form>
    </div>
</div>