<div class="form-container" >
    <div class="form-body" >
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput" style="font-weight: bolder;">Email Id</label>
                <input type="text" class="form-control whiteBox">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2" style="font-weight: bolder;">Password</label>
                <input type="password" class="form-control whiteBox">
            </div>
            <button type="button" class="btn btn-info subColor">Submit</button>
        </form>
    </div>
</div>