<div class="form-container" >
    <div class="form-body" >
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Email Id</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Password</label>
                <input type="text" class="form-control">
            </div>
            <button type="button" class="btn btn-info subColor">Primary</button>
        </form>
    </div>
</div>