<div class="mainContainer" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav innerNavBar">
            <a class="nav-item nav-link active" routerLink="searchFlight">A<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="#">Manage Bookings</a>
            <a class="nav-item nav-link" routerLink="#">Booking History</a>
          </div>
        </div>
      </nav>
</div>